{% extends 'includes/layout.html.twig' %}

{% block title %}Inici{% endblock %}

{% block body %}
    <div class="main-panel">
        <!-- Titol -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="javascript:void(0)">Inici</a>
                </div>
            </div>
        </nav>
        <!-- End Titol -->


        <div class="content">
            <div class="container-fluid">
                <div id="appPortada">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">http</i>
                                    </div>
                                    <p class="card-category">DAW</p>
                                    <h3 class="card-title daw">
                                        <span class="contdaw"> {{ "{{ contadorDAW }}" }}</span> <small>Ofertes</small>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">system_update</i>
                                    </div>
                                    <p class="card-category">DAM</p>
                                    <h3 class="card-title dam">
                                        <span class="contdam"> {{ "{{ contadorDAM }}" }}</span> <small>Ofertes</small>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-danger card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">memory</i>
                                    </div>
                                    <p class="card-category">ASIX</p>
                                    <h3 class="card-title asix">
                                        <span class="contasix">{{ "{{ contadorASIX }}" }} </span><small>Ofertes</small>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-info card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">leak_add</i>
                                    </div>
                                    <p class="card-category">SMX</p>
                                    <h3 class="card-title smx">
                                        <span class="contsmx"> {{ "{{ contadorSMX }}" }}</span> <small>Ofertes</small>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-chart">
                                <div class="card-header card-header-success">
                                    <div class="ct-chart" id="dailySalesChart"></div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Ofertes Totals</h4>
                                    <p class="card-category">
                                            <span class="text-success">
                                                <i class="fa fa-long-arrow-up"></i>
                                            </span>
                                        Ofertes totals entre totes les categories.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-6">
                            <div class="card card-chart">
                                <div class="card-header card-header-warning">
                                    <div class="ct-chart" id="websiteViewsChart"></div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Email Subscriptions</h4>
                                    <p class="card-category">Last Campaign Performance</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i> campaign sent 2 days ago
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block extraScripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="{{ asset('js/portadaVue.js') }}"></script>
    <script>
        $(document).ready(function() {

            let contsmx= $(".contsmx").text();
            let contasix= $(".contasix").text();
            let contdam= $(".contdam").text();
            let contdaw= $(".contdaw").text();
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts(contdaw,contdam,contasix,contsmx);

        });
    </script>
{% endblock %}