{% extends 'includes/layout.html.twig' %}

{% block title %}Panell Administrador{% endblock %}

{% block body %}
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="javascript:void(0)">Panell de Control</a>
                </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row centrado">

                    <a href="{{ path('listarOfertasPendientesAdmin') }}">
                        <div class="col-lg-6 col-md-6">
                            <button type="button" rel="tooltip" title="Administrar Ofertes" class="btn btn-warning ">
                                Acceptar/Rebutjar Ofertes Pendents

                            </button>
                        </div>
                    </a>

                    <a href="{{ path('listarOfertasAdmin') }}">
                        <div class="col-lg-6 col-md-6">
                            <button type="button" rel="tooltip" title="Mostrar Totes Ofertes" class="btn btn-warning">
                                Totes Ofertes

                            </button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extraScripts %}
    <script>
        function onSuccess(googleUser) {
            console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        }

        function onFailure(error) {
            console.log(error);
        }

        function renderButton() {
            gapi.signin2.render('my-signin2', {
                'scope': 'profile email',
                'width': 200,
                'height': 50,
                'longtitle': false,
                'theme': 'dark',
                'onsuccess': onSignIn,
                'onfailure': onFailure
            });
        }

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
            window.location.href = `/home`;
        }

    </script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
{% endblock %}
