{% extends 'includes/layout.html.twig' %}

{% block title %}Panell Administrador{% endblock %}

{% block body %}
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="javascript:void(0)">Panell de Control</a>
                </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h4 class="card-title">Ofertes per a administrar</h4>
                                <p class="card-category">Aquestes estan pendents, han de ser revisades</p>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                    <th>Oferta</th>
                                    <th>Descripció</th>
                                    <th>Categoria</th>
                                    <th>Fecha</th>
                                    <th>Ubicació</th>
                                    <th>Email</th>
                                    {% if pendientes == 'si' %}
                                        <th></th>
                                    {%else%}
                                        <th>Inscripcions</th>
                                        <th></th>
                                    {% endif %}
                                    </thead>
                                    <tbody>

                                    {% set counter = 0 %}
                                    {% for oferta in ofertas %}
                                        <tr>
                                            <td><a href="{{ path('modificarOferta', {'id': oferta.id }) }}">{{ oferta.titol }}</a></td>
                                            <td>{{ oferta.descripcio }}</td>
                                            <td>{{ oferta.data|date('Y-m-d') }}</td>
                                            <td>{{ oferta.categoria.descripcio }}</td>
                                            <td>{{ oferta.ubicacio }}</td>
                                            <td>{{ oferta.email }}</td>
                                            {% if pendientes == 'si' %}
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Acceptar Oferta" class="btn btn-primary btn-link btn-sm">
                                                        <a href="{{ path('aceptarOferta', {'id': oferta.id }) }}">
                                                            <i class="material-icons">thumb_up</i>
                                                        </a>

                                                    </button>
                                                    <button type="button" rel="tooltip" title="Rebutjar Oferta" class="btn btn-danger btn-link btn-sm">
                                                        <a href="{{ path('rechazarOferta', {'id': oferta.id }) }}">
                                                            <i class="material-icons">thumb_down</i>
                                                        </a>
                                                    </button>

                                                    <button type="button" rel="tooltip" title="Borrar Oferta" class="btn btn-danger btn-link btn-sm">
                                                        <a href="{{ path('borrarOferta', {'id': oferta.id }) }}">
                                                            <i class="material-icons">delete_forever</i>
                                                        </a>
                                                    </button>
                                                </td>
                                            {% else %}
                                                <td>{{ numInscripcionesOferta[counter] }}</td>
                                                {% set counter = counter + 1 %}
                                                <td><button type="button" rel="tooltip" title="Borrar Oferta" class="btn btn-danger btn-link btn-sm">
                                                        <a href="{{ path('borraOferta', {'id': oferta.id }) }}">
                                                            <i class="material-icons">delete_forever</i>
                                                        </a>
                                                    </button>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extraScripts %}
    <script>
        function onSuccess(googleUser) {
            console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        }

        function onFailure(error) {
            console.log(error);
        }

        function renderButton() {
            gapi.signin2.render('my-signin2', {
                'scope': 'profile email',
                'width': 200,
                'height': 50,
                'longtitle': false,
                'theme': 'dark',
                'onsuccess': onSignIn,
                'onfailure': onFailure
            });
        }

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
            window.location.href = `/home`;
        }

    </script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
{% endblock %}
