{# templates/emails/registration.html.twig #}
<head>
    <style>
        div{
            padding:2%;
        }

    </style>
</head>
<body>
<div>
    <img src="{{ imagen }}" alt = "Imagen de la web">

    <h1>
        NUEVO USUARIO REGISTRADO
    </h1>
    <p>
        Para la oferta {{ oferta.titol }},<br>
        Se ha registrado un nuevo usuario con el nombre de usuario {{ candidato.username }}.<br>
        Su correo es el siguiente: {{ candidato.correo }}.<br>
        Adjuntamos su CV en este email.
        <br>
        <br>
        Atentamente,<br>
        EQUIPO DE PEDRAL JOB
    </p>

</div>

</body>

  