<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta name="google-signin-client_id" content="872324701320-jlbsuscnd3ekedk0jafoqkqseok3vq7t.apps.googleusercontent.com">

    <title>
        {% block title %}Titulo Pagina{% endblock %}
    </title>
    {% block stylesheets %}
        {% include 'includes/styles.html.twig' %}
    {% endblock %}
    {% block extraStyle %}{% endblock %}
</head>
<body>

<div class="wrapper ">
    {% block menuLateral %}
        {% include 'SideMenu/menuPaginas.html.twig' %}
    {% endblock %}
    {% block body %}{% endblock %}
</div>
<div class="fixed-plugin"></div>


{% block javascripts %}
    {% include 'includes/scripts.html.twig' %}
{% endblock %}
{% block extraScripts %}{% endblock %}
</body>
</html>