<!--     Fonts and icons     -->
<link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link href="{{ asset('css/material-dashboard.css?v=2.1.1') }}" rel="stylesheet" />
<link href="{{ asset('css/extra-style.css') }}" rel="stylesheet" />