/**** CSS EXTRA ****/


.navbar .navbar-brand {
    font-size: 3.125em;
}

.alinear_empresa {
    margin-right: 3em;
}

/* Estilo de cada campo del formulario para insertar una oferta */
#form_Email {
    margin-top: 32%;
}

#form_Titol, #form_Ubicacio {
    margin-top: 13%;
}

#form_Descripcio {
    margin-top: 5%;
}

#form_Categoria {
    margin-top: 9%;
}

#form_Inserta {
    margin-top: 13%;
}

label[for = "form_Email"] {
    margin-top: 15%;
}

label[for = "form_Categoria"] {
    margin-top: 15%;
}

/* Mostramos u ocultamos los botones del menú de la pagina */

.botonNoMostrar {
    display: none;
}

.ocultarBotonMenu {
    display: none;
}

/* Boton de inscribirse en el modal */

.zoom {
    transition: transform .5s ease;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.2);
}

/* Al pasar por el tr de una oferta en la pantalla del usuario */

.cursor {
    cursor: pointer;
}

/* Para centrar los logos del modal con su texto */

.modal-icono {
    display: flex;
    vertical-align: middle;
}

/* Centrar row del panel de admin */

.centrado{
    margin-left: 15%;
    margin-top: 15%;
}

.centrado button {
    color: white;
    font-weight: bold;
}