{% extends 'includes/layout.html.twig' %}

{% block title %}Empreses{% endblock %}

{% block extraStyle %}
    <style>
        .center {
            float: none;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="main-panel">
        <!-- Titol -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand alinear_empresa" href="javascript:void(0)">
                        {% if pagina == "empreses" %}
                            Empreses
                        {% else %}
                            Panell de Control
                        {% endif %}
                    </a>
                </div>
            </div>
        </nav>
        <!-- End Titol -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9 center">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">
                                    {% if pagina == "empreses" %}
                                        Afegir Oferta
                                    {% else %}
                                        Editar Oferta
                                    {% endif %}
                                </h4>
                                <p class="card-category">
                                    {% if pagina == "empreses" %}
                                        Com a empresa, pots afegir una oferta al portal CAFC que será
                                        revisada per un administrador.
                                    {% else %}
                                        Com administrador d'aquesta pàgina, pots editar una oferta d'aquest portal.
                                    {% endif %}
                                </p>
                            </div>
                            <div class="card-body">
                                {{ form_start(form) }}

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row(form.Titol, {'attr': {'class' : "bmd-label-floating form-control"}}) }}
                                            <!--<input type="text" class="form-control" disabled> classe disabled para deshabilitarlo-->
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row(form.Ubicacio, {'attr': {'class' : "bmd-label-floating form-control"}}) }}
                                            <!--<input type="text" class="form-control" disabled> classe disabled para deshabilitarlo-->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row(form.Email, {'attr': {'class' : "bmd-label-floating form-control"}}) }}
                                            <!--<input type="text" class="form-control" disabled> classe disabled para deshabilitarlo-->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row(form.Categoria, {'attr': {'class' : "bmd-label-floating form-control"}}) }}
                                            <!--<input type="text" class="form-control" disabled> classe disabled para deshabilitarlo-->
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_row(form.Descripcio, {'attr': {'class' : "bmd-label-floating form-control"}}) }}
                                        </div>
                                    </div>
                                    <button class = "botonNoMostrar">
                                        {{ form_row(form.Inserta, {'attr': {'class' : "btn btn-primary pull-right col-md-12"}}) }}
                                    </button>
                                    <div class="clearfix"></div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                            <div class="">* El email será totalment privat i l'usuari no el podrá saber. Només l'utilitzarem per l'enviament de CV.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extraScripts %}
    <script>
        function onSuccess(googleUser) {
            console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        }

        function onFailure(error) {
            console.log(error);
        }

        function renderButton() {
            gapi.signin2.render('my-signin2', {
                'scope': 'profile email',
                'width': 200,
                'height': 50,
                'longtitle': false,
                'theme': 'dark',
                'onsuccess': onSignIn,
                'onfailure': onFailure
            });
        }

        var user = {};

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

            user = {
                'id':`${profile.getId()}`,
                'name':`${profile.getName()}`,
                'email':`${profile.getEmail()}`,
            };
            sessionStorage.setItem('user', JSON.stringify(user));


            {% if pagina == "empreses" %}
            window.location.href = `/comprovarUsuarioPrueba/${profile.getName()}/${profile.getEmail()}/${profile.getId()}`
            {% endif %}
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
            window.location.href = `/home`;
        }

    </script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
{% endblock %}
