{% extends 'includes/layout.html.twig' %}

{% block title %}Empreses{% endblock %}

{% block body %}
    <div class="main-panel">
        <!-- Titol -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand alinear_empresa" href="javascript:void(0)">
                        {% if pagina == "empreses" %}
                            Empreses
                        {% else %}
                            Panell de Control
                        {% endif %}
                    </a>
                </div>
            </div>
        </nav>
        <!-- End Titol -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 center">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                {% if insertUpdate == "insert" %}
                                    <h4 class="card-title">
                                        Oferta guardada correctament
                                    </h4>
                                    <p class="card-category">
                                        La teva oferta s'ha guardat amb éxit.
                                    </p>
                                {% else %}
                                    <h4 class="card-title">
                                        Oferta actualitzada correctament
                                    </h4>
                                    <p class="card-category">
                                        La teva oferta s'ha actualitzat amb éxit.
                                    </p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

