<div v-for="(oferta,index) in listaOfertas" >
    <div class="modal fade bd-example-modal-lg modal-centrado" :id="'hola' + index" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content horizontal">
                <div class="card card-signup card-plain">
                    <div class="modal-header">
                        <h4 class="modal-title card-title">
                            Informació sobre l'oferta
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8 ml-auto">
                                <div class="info info-horizontal">
                                    <!--clase descripcio, per insertarla-->

                                    <h5>{{ "{{oferta.titol}}" }}</h5>
                                    <p class="text-justify descripcio">
                                        {{ "{{oferta.descripcio}}" }}
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-4 mr-auto">
                                <div class="text-center">
                                    <h4 class="categoria font-weight-bold">
                                        {{ "{{oferta.categoria.descripcio}}" }}
                                    </h4>
                                    <!--clase categoria, per a insertarla-->
                                </div>
                                <div>
                                    <p class="ubicacio modal-icono">
                                        <i class="material-icons">gps_fixed</i>
                                        {{ "{{oferta.ubicacio}}" }}
                                    </p>
                                    <p class="timestamp modal-icono">
                                        <i class="material-icons">date_range</i>
                                        {{ "{{oferta.data.date }}" }}
                                    </p>

                                    <div v-if = "oferta.validada != -1" class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" v-model="oferta.validar" true-value="true" false-value="false">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                            He llegit i estic d'acord amb
                                            <a href="https://policies.google.com/privacy?hl=ca&gl=es">
                                                amb els termes i condicions.
                                            </a>Dono permis per l'enviament del meu CV.
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div v-if = "oferta.validada != -1" class="col-md-12 mr-auto text-center">
                                <button v-on:click="inscribirUsuario(oferta)" type="button" class="btn btn-success zoom" style="margin-top: 4em;">
                                    Inscriure'm
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
