{% extends 'includes/layout.html.twig' %}

{% block title %}Ofertes Disponibles{% endblock %}

{% block body %}
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="#">Ofertes Disponibles</a>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    {# PRIMERA TABLA #}
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div id="app-2">
                                <div class="card-header card-header-tabs card-header-primary">
                                    <div class="nav-tabs-navigation">
                                        <div class="nav-tabs-wrapper">
                                            <span class="nav-tabs-title">Categoria:</span>
                                            <ul class="nav nav-tabs" data-tabs="tabs">
                                                <li class="nav-item">
                                                    <a v-on:click="mostrarTodasOfertas" class="nav-link active" href="javascript:void(0)" data-toggle="tab">
                                                        TOTES
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a v-on:click="mostrarOfertasCategoria('DAW')" class="nav-link " href="javascript:void(0)" data-toggle="tab">
                                                        <i class="material-icons">http</i> DAW
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a v-on:click="mostrarOfertasCategoria('DAM')" class="nav-link" href="javascript:void(0)" data-toggle="tab">
                                                        <i class="material-icons">system_update</i> DAM
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a v-on:click="mostrarOfertasCategoria('ASIX')" class="nav-link" href="javascript:void(0)" data-toggle="tab">
                                                        <i class="material-icons">memory</i> ASIX
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a v-on:click="mostrarOfertasCategoria('SMX')" class="nav-link" href="javascript:void(0)" data-toggle="tab">
                                                        <i class="material-icons">leak_add</i>SMX
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" >
                                            <table class="table">
                                                <thead class="text-warning">
                                                <th>Oferta</th>
                                                <th>Ubicació</th>
                                                <th>Categoria</th>
                                                <th></th>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(oferta,index) in listaOfertas" class="cursor" data-toggle="modal" :data-target="'#hola' + index">
                                                    <td >{{ "{{oferta.titol}}" }}</td>
                                                    <td>{{ "{{oferta.ubicacio}}" }}</td>
                                                    <td>{{ "{{oferta.categoria.descripcio}}" }}</td>
                                                    <td>
                                                        <i v-if="oferta.validada == -1" class="material-icons">star</i>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>

                                            {% include 'Usuario/modal_oferta.html.twig' %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# SEGUNDA TABLA #}
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h4 class="card-title">Ofertes Destacades</h4>
                                <p class="card-category">Aquestes ofertes tenen una antiguitat de menys de 15 dies!</p>
                            </div>
                            <div class="card-body table-responsive">
                                <div id="app">
                                    <table class="table table-hover">
                                        <thead class="text-warning">
                                        <th>Oferta</th>
                                        <th>Ubicació</th>
                                        <th>Categoria</th>
                                        <th></th>
                                        </thead>
                                        <tbody>

                                        <tr v-for="(oferta,index) in listaOfertas" class="cursor" data-toggle="modal" :data-target="'#hola' + index">
                                            <td>{{ "{{oferta.titol}}" }}</td>
                                            <td>{{ "{{oferta.ubicacio}}" }}</td>
                                            <td>{{ "{{oferta.categoria.descripcio}}" }}</td>
                                            <td>
                                                <i v-if="oferta.validada == -1" class="material-icons">star</i>
                                            </td>
                                        </tr>

                                        </tbody>
                                        {% include 'Usuario/modal_oferta.html.twig' %}
                                    </table>
                                    <button class="btn btn-warning" v-on:click="mostrarOfertas">
                                        Actualitza la taula
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modalCV" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:5000;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Penja aquí el teu curriculum</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ form_start(form, {'enctype':"multipart/form-data"}) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extraScripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

    <script src="{{ asset('js/usuariVue.js') }}"></script>
    <script>
        function onSuccess(googleUser) {
            console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        }

        function onFailure(error) {
            console.log(error);
        }

        function renderButton() {
            gapi.signin2.render('my-signin2', {
                'scope': 'profile email',
                'width': 200,
                'height': 50,
                'longtitle': false,
                'theme': 'dark',
                'onsuccess': onSignIn,
                'onfailure': onFailure
            });
        }

        var user = {};

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();

            user = {
                'id':`${profile.getId()}`,
                'name':`${profile.getName()}`,
                'email':`${profile.getEmail()}`,
            };

            sessionStorage.setItem('user', JSON.stringify(user));
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
            window.location.href = `/home`;
        }

    </script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

{% endblock %}
