<div class="sidebar" data-color="orange" data-background-color="black" data-image="{{ asset('img/sidebar-2.jpg') }}">
    <!--data-color="purple | azure | green | orange | danger"-->
    <div class="logo">
        <a href="javascript:void(0)" class="simple-text logo-normal">
            <img src="{{ asset('img/pedral.png') }}" />
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item {% if pagina == 'inici' %} active {% endif %} {% if pagina == 'usuari' or pagina == 'admin' %} ocultarBotonMenu {% endif %}"> <!--el active marca el menu que esta activo-->
                <a class="nav-link" href="{{ path('Home') }}">
                    <i class="material-icons">dashboard</i>
                    <p>Inici</p>
                </a>
            </li>
            <li class="nav-item {% if pagina == 'empreses' %} active {% endif %} {% if pagina == 'usuari' or pagina == 'admin' %} ocultarBotonMenu {% endif %}">
                <a class="nav-link" href="{{ path('insertarOferta') }}">
                    <i class="material-icons">content_paste</i>
                    <p>Empreses</p>
                </a>
            </li>
            <li class="nav-item {% if pagina == 'usuari' %} active mostrarBotonMenu {% else %} ocultarBotonMenu {% endif %}">
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">horizontal_split</i>
                    <p>Ofertes Disponibles</p>
                </a>
            </li>
            <li class="nav-item {% if pagina == 'usuari' %} mostrarBotonMenu {% else %} ocultarBotonMenu {% endif %}" data-toggle="modal" data-target="#modalCV">
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">supervisor_account</i>
                    <p>Puja el teu CV</p>
                </a>
            </li>

            <!--
            MODAL CV
            -->



            <li class="nav-item {% if pagina == 'admin' %} active mostrarBotonMenu {% else %} ocultarBotonMenu {% endif %}">
                <a class="nav-link" href="{{ path('adminMenu') }}">
                    <i class="material-icons">supervisor_account</i>
                    <p>Administrador</p>
                </a>
            </li>
            <li class="nav-item {% if pagina != 'usuari' and pagina != 'admin' %} mostrarBotonMenu {% else %} ocultarBotonMenu {% endif %}">
                <a class="nav-link" href="javascript:void(0)">
                    <div id="my-signin2"></div>
                </a>
            </li>
            <li class="nav-item {% if pagina == 'usuari' or pagina == 'admin' %} mostrarBotonMenu {% else %} ocultarBotonMenu {% endif %}">
                <a class="nav-link" href="javascript:void(0)" onclick="signOut();">
                    <i class="material-icons">exit_to_app</i>
                    <p>Tancar sessió</p>
                </a>
            </li>
        </ul>
    </div>
</div>
